<div class="container indigo lighten-4">
  <h2 >Escolha um dos cursos</h2>
  <ul class="collection"
    *ngFor="let product of productsList"
  >
    <li class="collection-item avatar blue lighten-5  ">
      <div class="title">
        <a
          [title]="product.name + 'details'"
          [routerLink]="['/products', product.id]"
        >
          <strong >{{ product.name }}</strong>
          <i class="material-icons right">info_outline</i>
        </a>
      </div>

      <p>
        {{ product.description }} <br>
        {{ product.price | currency:"BRL"}}
      </p>
    </li>
  </ul>
</div>